*{
    box-sizing: border-box;
}

body{
    font-family: 'Smythe', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-image: url(images/Hamburger_Image.jpg);
    background-repeat: no-repeat;
    max-width: 600px;
    width: 100%;
    background-position: center right;
    background-size: cover;
    padding: 2.5rem;
    padding-bottom: 3.5rem;
    
}





header{
    color: #ffffff;
}

header p{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

h1{
    font-size: 2.5rem;
}
