*{
    box-sizing: border-box;
}

body{
    font-family: 'Smythe', cursive;
}

header{
    background-image: url(images/Hamburger_Image.jpg);
    background-repeat: no-repeat;
    
    background-position: right;
    background-size: cover;
    padding: 2.5rem;
    padding-bottom: 3.5rem;
}





header{
    color: #ffffff;
}

header p{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

h1{
    font-size: 2.5rem;
}
