*{
    box-sizing: border-box;
}

body{
    font-family: 'Smythe', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-image: url(images/Hamburger_Image.jpg);
    background-repeat: no-repeat;
    max-width: 600px;
    width: 100%;
    background-position: center right;
    background-size: cover;
    padding: 2.5rem;
    padding-bottom: 3.5rem;
    
}

header{
    color: #ffffff;
}

header p{
    font-size: 1.4rem;
    margin-top: 0.5rem;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}


main{
    max-width: 600px;
    margin-top: 2rem;
    padding: 0rem 2rem;
    width: 100%;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 2.5rem 0rem;
}

.food-info{
    display: flex;
}

.icon{
    font-size: 4rem;
    margin-right: 1rem;
}

.food-desc{
    display: flex;
    flex-direction: column;
}

.grey{
    font-size: 1rem;
    color: grey;
    margin-bottom: 0.5rem;
}

.price{
    font-size: 1.2rem;
}

.btn-style{
    background-color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: grey;
    border: 1px solid grey;
    cursor: pointer;
}
